PORT=3000
DB_CONNECT=mongodb+srv://<username>:<password>@cluster.mongodb.net/caterserv
JWT_SECRET=your_super_secret_jwt_key
NODE_ENV=production
FRONTEND_URL=https://your-frontend-domain.com
# IMAGEKIT CONFIG (IF USED)
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
